*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
a{
    text-decoration:none;

}
.text-justify{
    text-align:justify;
}
header .tophead{
    height: 28px;
    background-color: #34313a;   

}
.mega-menu{
    display: none;
margin-top: 27px;
}
.nav-item:hover .mega-menu{

    display: block;
    position: absolute;
    background-color: #34313a;
    left:0;
    right: 0;
    z-index:9;
}
.mega-menu .ptag{
    color:#ccc;
    position: relative;

}
.mega-menu .ptag img:hover{
    transform: scale(1.1);
    transition: 0.3s all;

}

header .tophead  .leftgroup ul li a{
    margin: 0px 20px;
    color: #fff;
    font-size: 13px;}
    
header .tophead .leftgroup ul li a.active{
     width: auto;
     height: auto;
     color: #b00000;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
     position: relative;
     background-color: #fff;
     display:inline-block;
}

header .tophead .leftgroup ul li a.active:hover{
    text-decoration: underline;
}

header .tophead .leftgroup ul li a.active ::before{
  content: "";
  top:0px;
  width: 0;
  height: 0;
  right:100;
  position: absolute;
  border-right: 15px solid#fff;
  border-bottom: 0px solid#fff;
  border-top:28px solid transparent;
}
header .tophead  .rightgroup ul li{
    margin: 0px 15px;


    }
    header .tophead .rightgroup ul li a{
        color: #fff;
        font-size: 13px;
        
    }
    select{
        background-color: black;
        color: #fff;
        font-size: 13px;
        background-color: none;
        border: none;
    }
    .midhead{
        margin: 20px 0px 10px 10px;
        font-size: 14px;
    }
    button{
        background-color: rgba(176, 0, 0, 0.58);
    }

   .carousel-inner .carousel-item{
      height: 500px;
       
   }
    .carousel-inner .carousel-item img{
        animation: zoomin 10s infinite;
        filter: brightness();
        overflow: hidden;
    }
        
        .carousel-dark .carousel-indicators [data-bs-target]{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        .carousel-inner .carousel-item .carousel-caption{
            bottom: 5.50rem;
            color: #fff;
        }
        .carousel-indicators{
            bottom: 3.5rem;
            color: #fff;
        }

        /* International Removal Section Start */
        .interbox{
            min-height: 200px;
            margin-top: -50px;
            z-index: 9;
            background: #fff;

        }
        .interbox  h1, h4{
            color: #b00000;
        }
        .interbox p{
            font-size: 17px;
        }
        .interbox a{
            color: #b00000;
        }
        .fw-6{
            font-weight: 600;
        }
        .footer a:hover{
        color:#fff;
        }
         .see:hover{
            background-color: #b00000;
            color:#fff;
        }
        /* International Removal Section End */  
    
        .see{
            width:200px;
            border: 2px solid maroon;
            height:40px ;
            background-color: #fff;
        }
        .us{
            width:200px ;
            height:40px ;
            border: 2px solid maroon;
            background-color:#b00000;
            color: #fff;   
        }
        .our{
            background-color: #34313a;
        }
        .footer{
            background-color: #34313a;

        }
        .foot a{
            color:#878191
        }
        .tophead .leftgroup ul li a.active{

        transform : skew(20deg);
       }
       @keyframes zoomin{
        from{
            transform:scale(1);
        }
    
    
            to{
               transform: scale(1.3);
            }
        }


    @keyframes zoomin{
     from{
         transform:scale(1);
     }
 
 
         to{

            transform: scale(1.2);
         }
        }
            .imgbox img:hover{
                animation: zoomin 5s infinite;
                overflow: hidden;
            }
            .imgbox{
                overflow:hidden;
            }

    .col-lg-2 img:hover{
      transform: scale(1.1);
      transition: 0.3s all;
   }
    .may{
        width:100%;
        height: 100%;
        box-shadow:1px 3px 9px 2px lightgray;
        margin:10px;
        padding: 10px;
        
    }
    .individual .heading h3::after{
        content:"";
        top:0px;
        width:0px;
        height: 0;
        left: 0px;
        position: absolute;
        border-top: 40px solid #d10202;
        border-right: 15px solid transparent;
        border-bottom: 0px solid transparent;

    }
    .individual .heading h3::before{
        content:"";
        top:40px;
        width:0px;
        height: 0;
        left: 0px;
        right:100;
        position: absolute;
        border-top: 22px solid #d10202;
        border-left: 17px solid transparent;
        border-bottom: 0px solid transparent;
    }
    
 /* media screen start */
 @media only screen and(max-width:332px){
 
 }
 @media only screen and(max-width:992px){
    
 }


 @media  only screen and (max-width:1023px){
    header .tophead{
     display: none;
    } 
}
 /* media screen end */

    
        
